
.content {
    height: 100%;
    width: 100%;
}

.homePage {
    display: flex;
    position: relative;
}

.right {
    position: absolute;
    /* margin-left: 5%; */
    /* margin-top: 5%; */
    left: 10%;
}